#about-me-image {
    width: 45%;
    float: left;
    margin-right: 30px;
}

#color {
    background-color: lightgrey;
}

.card {
    margin: 20px;
}

#about {
    color: black;
    font-family: sans-serif;
    font-size: 40px;
}

#me {
    color: rgba(169,98,235,1);
}

h3 {
    /* font-family: 'Patrick Hand', cursive; */
    font-family: sans-serif;
}

.skill {
    border-style: solid;
    border-color: lightgrey;
    border-radius: 10px;
    background-color: lightgrey;
    padding: 3px;
    float: left;
    margin: 5px;
}

.skill:hover {
    background-color: grey;
    border-color: grey;
}
